/* ================================================================
 ++++++++++++++++++++++++++++Variables +++++++++++++++++++++++++++
 ================================================================*/

// Color variables
$main-bg-color: #1e2c69;
$secondary-bg-color: #14204a;
$third-bg-color: #0c122c;
$white-color: #fff;
$black-color: #000012;
$grayscale-color: #908f94;

// Breakpoint
$desktop-bp: 768px;
