// ================================================================
// ++++++++++++++++++++++++++++Cards+++++++++++++++++++++++++++
// ================================================================

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media (min-width: $desktop-bp) {
    align-items: baseline;
  }
  background-color: $main-bg-color;
  margin: 0.5rem;
  .logo {
    align-self: start;
    margin-bottom: 2rem;
  }
  &_nav {
    width: 320px;
    padding: 2rem;
    border-radius: 5px 100px 5px 5px;
    @media (min-width: $desktop-bp) {
      height: 200px;
      max-width: 320px;
      flex-grow: 1;
      margin-left: 2rem;
      margin-right: 0.5rem;
    }
    ul {
      display: flex;
    }
    ul li {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      background-color: $third-bg-color;
      border-radius: 0.5rem;
      margin-right: 1rem;
      padding: 10px;
    }
  }
  &_data {
    position: relative;
    width: 320px;
    padding: 2rem;
    border-radius: 5px 5px 5px 5px;
    color: $white-color;
    @media (min-width: $desktop-bp) {
      height: 160px;
      width: 50%;
      max-width: 620px;
      flex-grow: 1;
      margin: 42px 25px 0 25px;
    }
    .lead {
      margin-bottom: 1rem;
      font-weight: 300;
      b {
        font-weight: 600;
      }
      @media (min-width: $desktop-bp) {
        align-self: flex-start;
      }
    }
    .progress {
      margin-bottom: 1rem;
    }
    .range {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 1rem;
      height: auto;
      &_minimum {
        align-self: start;
      }
      &_max {
        order: 1;
        align-self: end;
      }
    }
    .capacity_remaining {
      position: absolute;
      right: 80px;
      bottom: -2rem;
      display: flex;
      justify-content: center;
      width: 10rem;
      padding: 1rem;
      border-radius: 10px;
      background-color: $white-color;
      border: solid #000 1px;
      @media (min-width: $desktop-bp) {
        top: -3rem;
        bottom: auto;

        &::after {
          content: "";
          width: 0;
          height: 0;

          bottom: -0.8rem;
          right: 0rem;

          position: absolute;
          border-left: 10px solid transparent;
          border-right: 10px solid $white-color;
          border-top: 10px solid $white-color;
          border-bottom: 10px solid transparent;
        }
      }
      p {
        font-size: 0.75rem;
        color: $grayscale-color;
        align-self: center;
      }
      span {
        margin-right: 1rem;
        font-weight: bold;
        font-size: 2rem;
        color: $black-color;
      }
    }
  }
}
